<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css-scss/css/style.css">
    
    <title>About Me</title>
</head>
<body>
    <main>
        <h1>Sobre mi</h1>
    <img src="/dev/assets/img/lentes.jpg" alt="">
    <div>
        <p>
            Soy estudiante de licenciatura en ciencias de la computación. 
            Me apasiona la tecnología y estar al día con las novedades que nos tiene 
            preparado el futuro con respeto a la informática. Me encuentro aprendiendo el 
            camino de un full stack de forma autodidacta. Mi interes esta en el front end, 
            espero poder aplicar mis habilidades y conocimientos en nuevos proyectos.
        </p>
    </div>
    </main>
</body>
</html>