*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-width: 360px;
    max-height: 640px;
    display: grid;
    place-content: center;

    main{
        margin: 16px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        max-height: 640px;
        .main__container-titles{
            .main__title{
                font-weight: bold;
                margin-bottom: -10px;
            }
            .main__sub-title{
                color: #5945D6;

            }
        }
        
        a{
            text-decoration: none;
        }
        .recuadro{
            width: 328px;
            height: 70px;
            border-radius: 15px;
            transition-duration: 0.5s;
            background-color: black;
            p{
                padding: 10px;
                color: white;
                font-weight: bold;
                
            }
        }
        .recuadro:hover,.recuadro:active{
            transform: scale(1.02);
        }
        .main__sobre-mi{
            
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/lentes.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        .main__herramientas{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/programacion.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__proyectos{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/proyectos.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__sketchbook{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/sketchbook.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__contacto{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/contacto.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
//aboutMe
main{
    img{
        width: 185px;
        height: 185px;
        border-radius: 50%;
        place-self: center;
    }
    .main__container{
        width: 360px;
    }
}