*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-width: 360px;
    max-height: 640px;
    display: grid;
    place-self: center;

    main{
        margin: 10px 16px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        max-height: 640px;
        .main__container-titles{
            .main__title{
                font-weight: bold;
                margin-bottom: -10px;
            }
            .main__sub-title{
                color: #5945D6;

            }
        }
        

        .recuadro{
            width: 328px;
            height: 70px;
            border-radius: 15px;
            
            background-color: black;
            p{
                padding: 10px;
                color: white;
                font-weight: bold;
                
            }
        }
        .main__sobre-mi{
            
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./dev/assets/img/lentes.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        .main__herramientas{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./dev/assets/img/programacion.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__proyectos{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./dev/assets/img/proyectos.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__sketchbook{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./dev/assets/img/sketchbook.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main__contacto{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./dev/assets/img/contacto.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}